body {
 margin: 0;	
}
	
.header-image {
    height: 800px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.65);
}


.container { 

position: absolute;
right: 32px;
left: 32px;
top: 40px;
font-size: 3px;
display: flex;
align-items: center;
justify-content: space-between;

}

.menu-link {
  color: white;
  text-decoration: none;
  margin-left: 4px;
  top:100px;
   left: 1900px;
	display: inline-block;
  position: absolute;
  font-size: 25px;
justify-content: space-between;
  transition: color 0.3s ease-in-out;
}

  
.menu-link:hover {
	
  color: #ff4500; 
  }
  
.description-section  {

 hight: 500px;
 padding: 40px 40px;
 display: flex;
 gap: 550px;
 
 }
 
 .headline  {

position: absolute;
left: 20px;
top: 300px;
color: white;
font-size: 45px;
width: 400px;
text-shadow: 10px 10px rgba(0,0,0, 0,5) ;
 }
 
 .underline  {

position: absolute;
left: 180px;
top: 530px;
color: white;
font-size: 35px;

 }

 
 
 h2 {
  color: #dc143c;
  text-align: center;
  font-size: 51px ;
 }
 
	
footer {
    
background-color: #f2f2f2;
color: black;
text-align: center;
font-size: 22px;
padding: 10px;
}

.button {
	text-decoration: none;
	background-color: red ;
	padding: 3px 10px 2px;
	border-radius: 7px;
    transition: opacity 0,3s;
 }
	
 .button:hover {
    opacity: 0.75;
 }
	
 .button::after {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }

.button:hover::after {
    transform: translateY(3px);	
	

